---
layout: default
---
<div class="d-flex flex-column align-items-center">
    <h2 class="mb-3">{{ page.title }}</h2>
    <div class="text-muted">
        <span class="icon-clock">
            <span>{{ page.date | date: "%Y-%m-%d" }}</span>
        </span>
        {% if page.tags.size != 0 %}
        <span class="icon-price-tags">
            {% for tag in page.tags %}
            <span>{{ tag }}</span>
            {% endfor %}
        </span>
        {% endif %}
        {% if page.categories.size != 0 %}
        <span class="icon-bookmarks">
            {% for category in page.categories %}
            <span>{{ category }}</span>
            {% endfor %}
        </span>
        {% endif %}
    </div>
</div>
<hr class="mb-4" />
<div id="post-main">
    {{ content }}
</div>